#price {
  display: none;
  font-style: oblique;
  font-size: 100px;
}
h2 {
  text-align: center;
  color: #fd7e14;
  font-style: oblique;
}
p {
  color: #fd7e14;
  font-style: oblique;
  font-size: 20px;
}
.button {
  width: 100px;
  color: #fd7e14;
  padding: 15px 15px;
  text-align: center;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  background-color: #ccffb3;
  border:none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.jumbotron {
  background-color: #ccffb3
}
.form-group {
  color: #fd7e14;
  font-style: oblique;
}
.radio {
  color: #fd7e14;
  font-style: oblique;
}
